[Unit]
Description=Sonarr Daemon
After=syslog.target network.target

[Service]
User=couch
Group=couch

Type=simple
ExecStart=/usr/bin/python /opt/couch/CouchPotatoServer/CouchPotato.py
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
